body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* line-height: 1.5; */
  color: #333;
  background: white;
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  word-wrap: break-word;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

a {
  background-color: transparent;
  color: #036de6;
  font-size: 14px;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
  color: #6a737d;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  background: transparent;
}

ul,
ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

li {
  word-wrap: break-all;
}

li > p {
  margin-top: 16px;
}

li + li {
  margin-top: 0.25em;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

code,
kbd,
pre {
  /* color: black; */
  color: #c7254e;
  /* background-color: #f9f2f4; */
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #f9f2f4;
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  word-wrap: normal;
}

pre > code {
  font-size: 0.875em;
  word-wrap: break-word;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

hr::before,
hr::after {
  display: table;
  content: '';
}

* {
  box-sizing: border-box;
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body::before,
.markdown-body::after {
  display: table;
  content: '';
  clear: both;
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.anchor:focus {
  outline: none;
}

p,
blockquote,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 16px;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  text-decoration: none;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
  visibility: visible;
}

li {
  word-wrap: break-all;
}

li > p {
  margin-top: 16px;
}

li + li {
  margin-top: 0.25em;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

:checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

body .task-list-item {
  list-style-type: none;
}

.task-list-item + .task-list-item {
  margin-top: 3px;
}

.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

/* --- */
html,
body,
.github-markdown-body {
  padding: 0 !important;
  max-width: auto !important;
}

.github-markdown-body {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}

.github-markdown-body {
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100% !important;
}

.github-markdown-content {
  padding: 32px !important;
  max-width: 980px;
  min-width: 200px;
  margin: 0 auto;
}

.vscode-body.scrollBeyondLastLine {
  margin-bottom: 0;
}
.vscode-body.scrollBeyondLastLine .github-markdown-body {
  padding-bottom: calc(100vh + 10px) !important;
}

.github-markdown-body blockquote {
  background-color: initial;
}

.github-markdown-body pre {
  color: initial;
  border: none;
  color: #c7254e;
  background-color: #f9f2f4;
}

.github-markdown-body code {
  color: inherit;
  color: #c7254e;
  background-color: #f9f2f4;
}

.github-markdown-body pre code {
  color: initial;
}

.github-markdown-body code > div {
  background: none;
}

.github-markdown-body.showEditorSelection .code-line .code-line:hover:before {
  border-left: none;
}

.github-markdown-body p,
.github-markdown-body blockquote,
.github-markdown-body ul,
.github-markdown-body ol,
.github-markdown-body dl,
.github-markdown-body table,
.github-markdown-body pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.vscode-dark.showEditorSelection .code-line:hover:before {
  border-left: 3px solid var(--color-fg-default);
}
